Final Project - Abstract of Hypothetical Problem for Data Science

One database
    Four csv files:
        boran.csv
        deidentify_list_cross_ref.csv
        radan.csv
        planet_info.csv

Three tables:
    Patient readings - boran.csv and radan.csv:
        Autogenerated key = PK
        patient_id = FK
        planet_id = FK
        blood_pressure
        exercise
        weight
        glucose
        bmi
    Patient info - deidentify_list_cross_ref.csv:
        patient_id = PK
        age
    Planet info - planet_info.csv:
        planet_id = PK
        planet_name

In [47]:
import sqlite3

db = sqlite3.connect("finalproject.db")
cursor = db.cursor()

cursor.execute("DROP TABLE patient_info")
cursor.execute("DROP TABLE planet_info")
cursor.execute("DROP TABLE patient_readings")
db.commit()
db.close()

In [48]:
import sqlite3
#create new database
db = sqlite3.connect("finalproject.db")
#initiate cursor and call connection
cursor = db.cursor()
#create table structures
patient_info = """CREATE TABLE patient_info (
                patient_id      INTEGER PRIMARY KEY not null,
                age             REAL)"""
cursor.execute(patient_info)
planet_info = """CREATE TABLE planet_info (
                planet_id       INTEGER PRIMARY KEY not null,
                planet_name     TEXT)"""
cursor.execute(planet_info)
patient_readings = """CREATE TABLE patient_readings (
                ID              INTEGER PRIMARY KEY,
                patient_id      INTEGER,
                blood_pressure  REAL,
                exercise        REAL,
                weight          REAL,
                glucose         REAL,
                bmi             REAL,
                planet_id       INTEGER,
                FOREIGN KEY(patient_id) REFERENCES patient_info(patient_id),
                FOREIGN KEY(planet_id) REFERENCES planet_info(planet_id))"""
cursor.execute(patient_readings)

db.commit()
db.close()

In [53]:
import sqlite3
import csv

db = sqlite3.connect("finalproject.db")
cursor = db.cursor()

with open('boran.csv', 'rb') as p1:
    fcsv1 = csv.reader(p1)
    info_load1 = [record for record in fcsv1]
    cursor.executemany("INSERT INTO patient_readings(patient_id, blood_pressure, exercise, weight, glucose, bmi, planet_id) VALUES (?, ?, ?, ?, ?, ?, ?)", info_load1)

with open('radan.csv', 'rb') as p2:
    fcsv2 = csv.reader(p2)
    info_load2 = [record for record in fcsv2]
    cursor.executemany("INSERT INTO patient_readings(patient_id, blood_pressure, exercise, weight, glucose, bmi, planet_id) VALUES (?, ?, ?, ?, ?, ?, ?)", info_load2)
    
with open('deidentify_list_cross_ref.csv', 'rb') as pa:
    fcsv3 = csv.reader(pa)
    info_load3 = [record for record in fcsv3]
    cursor.executemany("INSERT INTO patient_info (patient_id, age)  VALUES (?, ?)", info_load3)

with open('planet_info.csv', 'rb') as PL:
    fcsv4 = csv.reader(PL)
    info_load4 = [record for record in fcsv4]
    cursor.executemany("INSERT INTO planet_info (planet_id, planet_name) VALUES (?, ?)", info_load4)

db.commit()
db.close()

IntegrityError: datatype mismatch

In [ ]:
import sqlite3

db = sqlite3.connect("finalproject.db")
cursor = db.cursor()

#construct query to retrieve data from table
SQL = "SELECT * FROM patient_readings"

cursor.execute(SQL)

for reading in cursor:
    print reading
    
db.commit()
db.close()