In [1]:
#in class exercise
# Sinney Chan
# Brandon Harden
# Julie Fisher
import sqlite3

In [2]:
db = sqlite3.connect("stocks.db")
cursor = db.cursor()

stocks500 = """CREATE TABLE [stocks500] (
            Company           text,          
            [Fair Value ($)]    INTEGER,       
            [Share Price ($)]         real )"""


cursor.execute(stocks500)
db.commit()
db.close()

In [3]:

import csv


# Reestablish connection to the database:
db     = sqlite3.connect('stocks.db')
cursor = db.cursor()

# Open `ticker_data.csv`, and create a csv.reader instance:
with open('Stocks500.csv', 'r') as f:  # on Windows, change `r` to `rb`
    
    fcsv = csv.reader(f)
    
    # `recs_to_load` is a list of records contained in `ticker_data.csv`:
    recs_to_load = [record for record in fcsv]

    # call `cursor.executemany`, specifying `recs_to_load`
    cursor.executemany("INSERT INTO [stocks500] VALUES (?, ?, ?)", recs_to_load)

# Not forgetting to commit changes and close connection:
db.commit()
db.close()

IOError: [Errno 2] No such file or directory: 'Stocks500.csv'

In [7]:
db = sqlite3.connect("funds.db")
cursor = db.cursor()

mutual = """CREATE TABLE [mutual-funds] (
[Fund Name]	text,
[Fund Type]	text,
[Net Asset Value ($)] real,	
[5 Year Average Return (%)] real,	
[Expense Ratio (%)] real,
[Morningstar Rank] text
)"""


cursor.execute(mutual)
db.commit()
db.close()

In [9]:

import csv


# Reestablish connection to the database:
db     = sqlite3.connect('funds.db')
cursor = db.cursor()

# Open `ticker_data.csv`, and create a csv.reader instance:
with open('MutualFunds.csv', 'r') as f:  # on Windows, change `r` to `rb`
    
    fcsv = csv.reader(f)
    
    # `recs_to_load` is a list of records contained in `ticker_data.csv`:
    recs_to_load = [record for record in fcsv]

    # call `cursor.executemany`, specifying `recs_to_load`
    cursor.executemany("INSERT INTO [mutual-funds] VALUES (?, ?, ?, ?, ?, ?)", recs_to_load)

# Not forgetting to commit changes and close connection:
db.commit()
db.close()

In [10]:

# reestablish connection to `sales.db` database:
db     = sqlite3.connect('stocks.db')
cursor = db.cursor()

#construct a query to retrieve data from `TOYOTA_SALES`:
SQL = "SELECT * FROM [stocks500]"

# call `cursor.execute` on query string:
cursor.execute(SQL)

# `cursor` can be iterated over:
for rec in cursor:
    print(rec)
    
# not forgetting to commit changes and close connection:   
db.commit()
db.close()

(u'Company', u'Fair Value ($)', u'Share Price ($)')
(u'Air Products and Chemicals', 80, 98.63)
(u'Allied Waste Industries', 17, 11.02)
(u'America Mobile', 83, 61.39)
(u'AT&T', 35, 41.56)
(u'Bank of America', 70, 41.26)
(u'Barclays PLC', 68, 40.37)
(u'Citigroup', 53, 29.44)
(u'Costco Wholesale Corp.', 75, 69.76)
(u'Covidien, Ltd.', 58, 44.29)
(u'Darden Restaurants', 52, 27.71)
(u'Dun & Bradstreet', 87, 88.63)
(u'Equifax', 42, 36.36)
(u'Gannett Co.', 38, 39.0)
(u'Genuine Parts', 48, 46.3)
(u'GlaxoSmithKline PLC', 57, 50.39)
(u'Iron Mountain', 33, 37.02)
(u'ITT Corporation', 83, 66.04)
(u'Johnson & Johnson', 80, 66.7)
(u'Las Vegas Sands', 98, 103.05)
(u'Macrovision', 23, 18.33)
(u'Marriott International', 39, 34.18)
(u'Nalco Holding Company', 29, 24.18)
(u'National Interstate', 25, 33.1)
(u'Portugal Telecom', 15, 13.02)
(u'Qualcomm', 48, 39.35)
(u'Royal Dutch Shell Ltd.', 87, 84.2)
(u'SanDisk', 60, 33.17)
(u'Time Warner', 42, 27.6)

In [11]:

# reestablish connection to `sales.db` database:
db     = sqlite3.connect('funds.db')
cursor = db.cursor()

#construct a query to retrieve data from `TOYOTA_SALES`:
SQL = "SELECT * FROM [mutual-funds]"

# call `cursor.execute` on query string:
cursor.execute(SQL)

# `cursor` can be iterated over:
for rec in cursor:
    print(rec)
    
# not forgetting to commit changes and close connection:   
db.commit()
db.close()

(u'Fund Name', u'Fund Type', u'Net Asset Value ($)', u'5 Year Average Return (%)', u'Expense Ratio (%)', u'Morningstar Rank')
(u'Amer Cent Inc & Growth Inv', u'DE', 28.88, 12.39, 0.67, u'2-Star')
(u'American Century Intl. Disc', u'IE', 14.37, 30.53, 1.41, u'3-Star')
(u'American Century Tax-Free Bond', u'FI', 10.73, 3.34, 0.49, u'4-Star')
(u'American Century Ultra', u'DE', 24.94, 10.88, 0.99, u'3-Star')
(u'Ariel', u'DE', 46.39, 11.32, 1.03, u'2-Star')
(u'Artisan Intl Val', u'IE', 25.52, 24.95, 1.23, u'3-Star')
(u'Artisan Small Cap', u'DE', 16.92, 15.67, 1.18, u'3-Star')
(u'Baron Asset', u'DE', 50.67, 16.77, 1.31, u'5-Star')
(u'Brandywine', u'DE', 36.58, 18.14, 1.08, u'4-Star')
(u'Brown Cap Small ', u'DE', 35.73, 15.85, 1.2, u'4-Star')
(u'Buffalo Mid Cap', u'DE', 15.29, 17.25, 1.02, u'3-Star')
(u'Delafield', u'DE', 24.32, 17.77, 1.32, u'4-Star')
(u'DFA U.S. Micro Cap', u'DE', 13.47, 17.23, 0.53, u'3-Star')
(u'Dodge & Cox Income', u'FI', 12.51, 4.31, 0.44, u'4-Star')
(u'Fairholme', u'DE', 31.86, 18.23, 1.0, u'5-Star')
(u'Fidelity Contrafund', u'DE', 73.11, 17.99, 0.89, u'5-Star')
(u'Fidelity Municipal Income', u'FI', 12.58, 4.41, 0.45, u'5-Star')
(u'Fidelity Overseas', u'IE', 48.39, 23.46, 0.9, u'4-Star')
(u'Fidelity Sel Electronics', u'DE', 45.6, 13.5, 0.89, u'3-Star')
(u'Fidelity Sh-Term Bond', u'FI', 8.6, 2.76, 0.45, u'3-Star')
(u'Fidelity', u'DE', 39.85, 14.4, 0.56, u'4-Star')
(u'FPA New Income', u'FI', 10.95, 4.63, 0.62, u'3-Star')
(u'Gabelli Asset AAA', u'DE', 49.81, 16.7, 1.36, u'4-Star')
(u'Greenspring', u'DE', 23.59, 12.46, 1.07, u'3-Star')
(u'Janus', u'DE', 32.26, 12.81, 0.9, u'3-Star')
(u'Janus Worldwide', u'IE', 54.83, 12.31, 0.86, u'2-Star')
(u'Kalmar Gr Val Sm Cp', u'DE', 15.3, 15.31, 1.32, u'3-Star')
(u'Managers Freemont Bond', u'FI', 10.56, 5.14, 0.6, u'5-Star')
(u'Marsico 21st Century', u'DE', 17.44, 15.16, 1.31, u'5-Star')
(u'Mathews Pacific Tiger', u'IE', 27.86, 32.7, 1.16, u'3-Star')
(u'Meridan Value', u'DE', 31.92, 15.33, 1.08, u'4-Star')
(u'Oakmark I', u'DE', 40.37, 9.51, 1.05, u'2-Star')
(u'PIMCO Emerg Mkts Bd D', u'FI', 10.68, 13.57, 1.25, u'3-Star')
(u'RS Value A', u'DE', 26.27, 23.68, 1.36, u'4-Star')
(u'T. Rowe Price Latin Am.', u'IE', 53.89, 51.1, 1.24, u'4-Star')
(u'T. Rowe Price Mid Val', u'DE', 22.46, 16.91, 0.8, u'4-Star')
(u'Templeton Growth A', u'IE', 24.07, 15.91, 1.01, u'3-Star')
(u'Thornburg Value A', u'DE', 37.53, 15.46, 1.27, u'4-Star')
(u'USAA Income', u'FI', 12.1, 4.31, 0.62, u'3-Star')
(u'Vanguard Equity-Inc', u'DE', 24.42, 13.41, 0.29, u'4-Star')
(u'Vanguard Global Equity', u'IE', 23.71, 21.77, 0.64, u'5-Star')
(u'Vanguard GNMA', u'FI', 10.37, 4.25, 0.21, u'5-Star')
(u'Vanguard Sht-Tm TE', u'FI', 15.68, 2.37, 0.16, u'3-Star')
(u'Vanguard Sm Cp Idx', u'DE', 32.58, 17.01, 0.23, u'3-Star')
(u'Wasatch Sm Cp Growth', u'DE', 35.41, 13.98, 1.19, u'4-Star')